@import './variables.scss';
@import './base.scss';

/*
此文件中定义可复用的组件样式
*/

.filter-wrapper {
  margin-bottom: 16px;
}

.btn-group {
  margin-bottom: 16px;
}

.page-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 16px 0;
}
